<table class="table is-striped is-hoverable is-fullwidth has-mt-24">
  <thead class="has-bg-peach-pop-40">
    <tr>
      <th><abbr title="Id">ID</abbr></th>
      <th><abbr title="Name">Name</abbr></th>
      <th><abbr title="Photo">Photo</abbr></th>
      <th><abbr title="Delete">Delete</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% @product.variant_images.each do |image| %>
      <tr onclick="window.location='<%= admin_product_image_path(@product, image) %>'">
        <th><%= image.id %></th>
        <th><%= image.attachment_file_name.truncate(25) %> </th>
        <th><%= image_tag image.url(:small), class: "image is-64x64" %></th>
        <th><%= link_to "Delete", admin_product_image_path(@product, image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
      </tr> 
    <% end %>
  </tbody>
</table>
