<hr/>
<% cache spree_nav_cache_key('footer') do %>
  <footer id="footer" class="mx-auto footer-spree" data-turbolinks-permanent>
    <div class="container">
      <!-- <div class="row d-none d-xl-flex border-top text-uppercase footer-spree-menu-links">
        <% if spree_navigation_data.any? %>
          <% spree_navigation_data.first(3).each do |root| %>
            <div class="col-3">
              <div class="footer-spree-label">
                <%= link_to root[:title], root[:url] %>
              </div>
              <% if  root[:items].present? %>
                <% root[:items].each do |item| %>
                  <div class="pt-2"><%= link_to item[:title], item[:url] %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% if spree.respond_to?(:account_path) %>
          <div class="col-3">
            <div class="footer-spree-label">
              <%= Spree.t('nav_bar.my_account') %>
            </div>
            <div class="pt-2">
              <%= link_to Spree.t('nav_bar.my_orders'), spree.account_path(anchor: "account-my-orders") %>
            </div>
          </div>
        <% end %>
      </div> -->

      <div class="row">
        <div class="col-3">
          <div class="footer-spree-label">Pomoc</div>
          <div class="pt-2 text-muted">FAQ - Najczęstsze pytania </div>
          <div class="pt-2 text-muted">Skontaktuj się</div>
          <div class="pt-2 text-muted">Dostawy i odbiory</div>
          <div class="pt-2 text-muted">Śledzenie przesyłek</div>
          <div class="pt-2 text-muted">Zwroty</div>
          <div class="pt-2 text-muted">Odwoływanie zamówień</div>
        </div>
        <div class="col-3">
          <div class="footer-spree-label">Kup z nami</div>
          <div class="pt-2 text-muted">Sklep stacjonarny</div>
          <div class="pt-2 text-muted">Współpraca biznesowa</div>
          <div class="pt-2 text-muted">Metody płatności</div>
          <div class="pt-2 text-muted">Doradcy handlowi</div>

        </div>
        <div class="col-3">
          <div class="footer-spree-label">Formalności</div>
          <div class="pt-2 text-muted">Regulamin</div>
          <div class="pt-2 text-muted">Polityka prywatności</div>
          <div class="pt-2 text-muted">Rodo</div>
          <div class="pt-2 text-muted">Pliki cookies</div>
          <div class="pt-2 text-muted">Dokumenty prawne</div>
          <div class="pt-2 text-muted">Specyfikacje produktów chemicznycn</div>
        </div>
        <div class="col-3">
          <div class="footer-spree-label">Obserwuj nas</div>
          <div class="d-flex d-xl-block justify-content-center mx-auto">
            <div class="d-flex">
              <%= spree_social_link('facebook') %>
              <%= spree_social_link('twitter') %>
              <%= spree_social_link('instagram') %>
            </div>
          </div>
        </div>
        
      </div>
    </div> 
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>
