<div class="field">
  <%= f.label :email, class: "label" %>
  <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fab fa-check"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :password, class: "label" %>
  <div class="control has-icons-left">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</div>

<div class="field">
  <%= f.label :password_confirmation, class: "label" %>
  <div class="control has-icons-left">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</div>