<% @body_id = 'home' %>

<div class="container mb-3">
  <img class="w-100 lazyload"
    data-src="<%= asset_path('homepage/top_first_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/top_first_banner') %>"
    alt="<%= Spree.t('homepage.top_first_banner')%>" />
</div>

<div class="container homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image"
    data-src="<%= asset_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="<%= Spree.t('homepage.offer_slider')%>" />

  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      
    </div>
    <div>
      <%= link_to Spree.t('homepage.buy_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>
<div class="container">
  <div data-product-carousel data-product-carousel-taxon-id='sale' style="background: white" class="my-3 pt-5 pb-5">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="homepage-taxon-box mb-3">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/bathroom.jpg') %>"
            data-srcset="<%= image_source_set('homepage/bathroom') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 17vw">ŁAZIENKA</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-columns">
    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/office.jpg') %>"
            data-srcset="<%= image_source_set('homepage/office') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 7vw; color: #88B5A6">BIURO</h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/mask.jpg') %>"
            data-srcset="<%= image_source_set('homepage/mask') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 4vw; color: #2B3E41">OCHRONA</h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/hall.jpg') %>"
            data-srcset="<%= image_source_set('homepage/hall') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 8vw; color: #FFFFFF">HALE</h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/kitchen.jpg') %>"
            data-srcset="<%= image_source_set('homepage/kitchen') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 5vw">KUCHINA</h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/car.jpg') %>"
            data-srcset="<%= image_source_set('homepage/car') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 9vw; color: #2B3E41">AUTO</h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/house.jpg') %>"
            data-srcset="<%= image_source_set('homepage/house') %>"
            alt="<%= Spree.t('homepage.bathroom')%>" />

          <div class="homepage-taxon-box-text">
            <h3 style="font-size: 10vw; color: #3A4749">DOM</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-6">
      <img class="w-100 lazyload  hero-image"
        data-src="<%= asset_path('homepage/services.jpg') %>"
        data-srcset="<%= image_source_set('homepage/services') %>"
        alt="<%= Spree.t('homepage.bathroom')%>" />
    </div>
    <div class="col-md-6">
      <img class="w-100 lazyload  hero-image"
        data-src="<%= asset_path('homepage/services_right.jpg') %>"
        data-srcset="<%= image_source_set('homepage/services_right') %>"
        alt="<%= Spree.t('homepage.bathroom')%>" />
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="w-100 lazyload hero-image"
        data-src="<%= asset_path('homepage/business.jpg') %>"
        data-srcset="<%= image_source_set('homepage/business') %>"
        alt="<%= Spree.t('homepage.bathroom')%>" />
    </div>
    <div class="col-md-8">
      <img class="w-100 lazyload hero-image"
        data-src="<%= asset_path('homepage/business_right.jpg') %>"
        data-srcset="<%= image_source_set('homepage/business_right') %>"
        alt="<%= Spree.t('homepage.bathroom')%>" />
    </div>
  </div>
</div>

<div class="container">
  <div data-product-carousel data-product-carousel-taxon-id='sale' style="background: white" class="my-3 pt-5 pb-5">
  </div>
</div>


<div class="container">
  <div class="container my-3 pt-5 pb-5" style="background: #454545; color: white; padding: 10px">
    <div class="row">
      <div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
        <%= image_tag "homepage/newsletter.svg", style: "width: 100%" %>
      </div>
      <div class="col-md-8" style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
        <h3 class="mb-3">Bądź na bieżąco z promocjami!</h3>
        <div class="mb-3">
          <input style="padding: 5px" /> 
          <button class="btn btn-primary">Dołącz</button>
        </div>
        <p>
          Przesyłając wiadomość e-mail, wyrażasz zgodę na otrzymywanie wiadomości e-mail na temat produktów, ofert specjalnych i wyłącznych rabatów z www.srodkiczystoci.pl. Jeśli nie będziesz już chcieć ich otrzymywać, możesz w każdej chwili zrezygnować z subskrypcji. Aby uzyskać więcej informacji o tym, jak wykorzystujemy Twoje dane, zapoznaj się z naszą polityką prywatności i plików cookie tutaj.
        </p>
      </div>
      <div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
        <%= image_tag "homepage/celeb.svg", style: "width: 100%" %>
      </div>
    </div>
  </div>
</div>
