<!DOCTYPE html>
<html>
  <head>
    <title>Omnis</title>
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'screen', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="root"></div>

    <%= render 'layouts/navbar' %>
    <%= flash_messages %>
    
    <%= yield %>

    <script>
      (document.querySelectorAll('.notification .delete') || []).forEach((del) => {
        var notification = del.parentNode;
        
        del.addEventListener('click', () => {
          notification.parentNode.removeChild(notification);
        });
      });
    </script>
  </body>
</html>
